{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    {% if err %}
<div class="alert " style="margin-top:20px; width: 450px; height:40px; margin-left:550px;"   role="alert" >
<p class="per">{{err}}</p>
</div>
{% endif %}
<div class="registerdiv">
    <div class="registerbox">
        <h1 class="regh1">Hello, Welcome!</h1>
        <p class="regp">Don't have an account?</p>
        <p class="regbtn">Register Here <i class="fa-solid fa-right-long"></i></p>
        <img class="lil" src="{% static 'images/logo11.png' %}" alt="">

    </div>
    <div class="register">
        <h1 class="reghead">REGISTRATION</h1>

        <form class="form" action="/register/" method="post">
        

            {% csrf_token %}
            <input class="form1" type="text"  name="username" placeholder=" Username ">
            <input class="form1" type="email"  name="email" placeholder="Email Address">
            <input class="form1" type="number" name="number" placeholder="Phone Number">
            <input class="form1" type="password" name="password1" placeholder="Password">
            <input class="form1" type="password" name="password2" placeholder="Confirm Password">
            <input class="registerbtn" type="submit" value="Register">
        </form>
    </div>
</div>
    
</body>
</html>