.main7{
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}
.sec1{
    width: 45%;
    height: 500px;
}
.sec2{
    width: 45%;
    height: 500px;
    margin-top: 20px;
    
}


.touch{
    font-family:"Roboto", serif ;
    font-size: 33px;
    font-weight: 500;
    color:#5EA45C;
    line-height: normal;
    text-align: left;
    margin-top: 10px;
}
.det{
    font-family:"Roboto", serif ;
    font-size: 16px;
    font-weight: 300;
    line-height:24px;
    text-align: justify;
    margin-top: 10px;
}
.icon{
    width: 58px;
    height: 58px;
    margin-top: 40px;
}
.iconp{
    font-family:"Roboto", serif ;
    font-size: 16px;
    font-weight: 300;
    line-height:20px;
    margin-left: 70px;
    margin-top: -40px;

}

.main8{
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;}
.part1{
    width: 29%;

}
.part2{
    width: 19%;
    }
.popular{
    margin-top:30px;
    font-family:"Roboto", serif ;
    font-size: 18px;
    font-weight:bold;
    line-height:29px;
    color: white;
    display: block;
}
.apop{    
    font-family:"Roboto", serif ;
    font-size: 16px;
    font-weight: 300;
    line-height:24px;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 6px;
}
.apop:hover{
    text-decoration: none;
    color: #5EA45C;
}
.part3{
    width: 19%;
}
.part4{
    width: 29%;

}
.logo{
    width: 300px;
    height: 250px;
    display: block;
    margin-top: 70px;
    margin-left: 20px;
}
hr{
    width: 35px;
    border: 1px solid #5EA45C;
}
.lastp{
    font-family:"Roboto", serif ;
    font-size: 16px;
    font-weight: 300;
    line-height:24px;
    color: white;
    text-decoration: none;
    display: block;
    margin-top: -3px;
    margin-left: 15px;

}
.pimg{
    display: flex;
    margin-top: 15px;
}
.iicon{
    width: 25px;
    height: 25px;
}

iframe{
    border-radius: 20px;
}
.fa-instagram{
    color: azure;
    font-size: 20px;
    margin-left: 5px;
}
.insta{
    text-decoration: none;
}
.fa-facebook-f{
    color: azure;
    font-size: 20px;
    margin-left: 5px;
}
.facebook{
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    iframe{
        width: 400px;
        height: 450px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 50px;
        
    }
    .main8{
        background-color: black;
        width: 100%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
    justify-content: space-evenly;}
    .part1{
        width: 29%;
    
    }
    .part2{
        width: 19%;
        }
    .popular{
        margin-top:30px;
        font-family:"Roboto", serif ;
        font-size: 18px;
        font-weight:bold;
        line-height:29px;
        color: white;
        display: block;
    }
    .apop{    
        font-family:"Roboto", serif ;
        font-size: 16px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 6px;
    }
    .apop:hover{
        text-decoration: none;
        color: #5EA45C;
    }
    .part3{
        width: 19%;
    }
    .part4{
        width: 29%;
    
    }
    .logo{
        width: 250px;
        height: 250px;
        display: block;
        margin-top: 70px;
        margin-left: 20px;
    }
    hr{
        width: 35px;
        border: 1px solid #5EA45C;
    }
    .lastp{
        font-family:"Roboto", serif ;
        font-size: 16px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: -3px;
        margin-left: 15px;
    
    }
    .pimg{
        display: flex;
        margin-top: 15px;
    }
    .iicon{
        width: 25px;
        height: 25px;
    }

}
@media only screen and (max-width: 768px) {
    .main7{
        width: 100%;
        height: 750px;
        display: block;
    }
    .sec1{
        width: 100%;
        height: 310px;    
    }
    .sec2{
        width: 100%;
        height: 400px; 
    }
    .touch{
        font-size: 28px;
        padding-left: 10px;
      
    }
    .det{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 8px;
       
    }
    .icon{
        width: 40px;
        height: 40px;
        margin-top: 30px;
        padding-left: 10px;
    }
    .iconp{
        font-family:"Roboto", serif ;
        font-size: 15px;
        font-weight: 300;
        line-height:20px;
        margin-left: 70px;
        margin-top: -40px;
    
    }
    iframe{
        width: 500px;
        height: 350px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 140px;
        margin-bottom: 20px;
        
    }
    .popular{
        margin-top:30px;
        font-family:"Roboto", serif ;
        font-size: 13px;
        font-weight:bold;
        line-height:29px;
        color: white;
        display: block;
        
    }
    .logo{
        width: 200px;
        height: 200px;
        display: block;
        margin-top: 90px;
        margin-left: 10px;
        transform: scale(1);
    }
    hr{
        width: 35px;
        border: 1px solid #5EA45C;
    
    }
}

@media only screen and (max-width: 650px) {
    .main7{
        width: 100%;
        height: 750px;
        display: block;
        
    }
    .sec1{
        width: 100%;
        height: 350px;    
    }
    .sec2{
        width: 100%;
        height: 400px; 
    }

    .touch{
        font-size: 28px;
        padding-left: 10px;
      
    }
    .det{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 5px;
       
    }
    .icon{
        width: 40px;
        height: 40px;
        margin-top: 30px;
        padding-left: 10px;
    }
    .iconp{
        font-family:"Roboto", serif ;
        font-size: 14px;
        font-weight: 300;
        line-height:20px;
        margin-left: 70px;
        margin-top: -40px;
    
    }
    iframe{
        width: 500px;
        height: 350px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 50px;
        
    }
    
    .main8{
        background-color: black;
        width: 100%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;}
    .part1{
        width: 45%;
    
    }
    .part2{
        width: 45%;
        }
    .popular{
        margin-top:30px;
        font-family:"Roboto", serif ;
        font-size: 15px;
        font-weight:bold;
        line-height:29px;
        color: white;
        display: block;
    }
    .apop{    
        font-family:"Roboto", serif ;
        font-size: 16px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 6px;
    }
    .apop:hover{
        text-decoration: none;
        color: #5EA45C;
    }
    .part3{
        width: 45%;
    }
    .part4{
        width: 45%;
    
    }
    .logo{
        width: 230px;
        height: 200px;
        display: block;
        margin-top: 90px;
        margin-left: 10px;
        transform: scale(1);
    }
    hr{
        width: 35px;
        border: 1px solid #5EA45C;
    }
    .lastp{
        font-family:"Roboto", serif ;
        font-size: 16px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: -3px;
        margin-left: 15px;
    
    }
    .pimg{
        display: flex;
        margin-top: 15px;
    }
    .iicon{
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 400px) {
    body{
        width: 100%;
    }
    .main7{
        width: 100%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .sec1{
        width: 100%;
        height: 400px;
    }
    .sec2{
        width: 100%;
        height: 500px;
        
    }
    .det{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 7px;
       
    }

    iframe{
        width: 350px;
        height: 300px;
        padding-top: 20px;
        padding-left: 10px;
        margin-left: 10px;
        
    }

    .main8{
        background-color: black;
        width: 100%;
        height: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;}
    .part1{
        width: 50%;
    
    }
    .part2{
        width: 45%;
        }
    .popular{
        margin-top:30px;
        font-family:"Roboto", serif ;
        font-size: 12px;
        font-weight:bold;
        line-height:29px;
        color: white;
        display: block;
    }
    .apop{    
        font-family:"Roboto", serif ;
        font-size: 12px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 6px;
    }
    
    .part3{
        width: 45%;
    }
    .part4{
        width: 45%;
    
    }
    .logo{
        width: 130px;
        height: 130px;
        display: block;
        margin-top: 120px;
        margin-left: 10px;
        transform: scale(1);
    }
    hr{
        width: 35px;
        border: 1px solid #5EA45C;
    }
    .lastp{
        font-family:"Roboto", serif ;
        font-size: 12px;
        
    
    }
    .pimg{
        display: flex;
        margin-top: 15px;
    }
    .iicon{
        width: 20px;
        height: 20px;
    }
}   

@media only screen and (max-width: 320px) {
    .main7{
        width: 100%;
        height: 750px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 20px;
        
    }
    .sec1{
        width: 100%;
        height: 400px;
    }
    .sec2{
        width: 100%;
        height: 500px;
        
    }
    .touch{
        font-size: 20px;
    }
    .det{
        font-size: 12px;
        padding-left: 10px;
        padding-right: 7px;
       
    }
    .iconp{
        font-size: 12px;
    }

    iframe{
        width: 270px;
        height: 300px;
        padding-top: 20px;
        padding-left: 10px;
        /* margin-left: 10px; */
        
    }
    .main8{
        background-color: black;
        width: 100%;
        height: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;}
    .part1{
        width: 45%;
    
    }
    .part2{
        width: 45%;
        }
    .popular{
        margin-top:30px;
        font-family:"Roboto", serif ;
        font-size: 12px;
        font-weight:bold;
        line-height:29px;
        color: white;
        display: block;
        padding-left: 5px;
    }
    .apop{    
        font-family:"Roboto", serif ;
        font-size: 12px;
        font-weight: 300;
        line-height:24px;
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 6px;
        padding-left: 5px;
    }
    
    .part3{
        width: 40%;
    }
    .part4{
        width: 60%;
    
    }
    .logo{
        width: 100px;
        height: 130px;
        display: block;
        margin-top: 120px;
        margin-left: 20px;
        transform: scale(1.3);
    }
    hr{
        width: 35px;
        border: 1px solid #5EA45C;
        margin-left: 5px;
    }
    .lastp{
        font-family:"Roboto", serif ;
        font-size: 12px;
        
    
    }
    .pimg{
        display: flex;
        margin-top: 15px;
        text-align: justify;
    }
    .iicon{
        width: 20px;
        height: 20px;
    }


}